form{
    width: 400px;
    height: 300px;
    /* border: 1px solid black; */
    background-color: rgb(163, 198, 216);
    padding: 20px 20px 10px 20px;
    border-radius: 20px;

    
    
}
.cont{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
button{
    color: blue;
}
table{
    width: 400px;
    
}
table th,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
}
/* table tr,td{
    border: 1px solid black;
} */
table th{
    width: 100px;
}
.table{
    
    display: flex;
    justify-content: center;
    margin-top: 20px;

}